<div class="gameDynamic">
    <style>
        .word {
            color: #ffffff !important;
        }
        .word:hover {
            color: #afafaf !important;
        }
    </style>

    <script>
        const wordCorrect = elem => {
            let attr = elem.getAttribute('data-crossed');
            if (attr === null || attr === false || attr === 'false') {
                elem.setAttribute('data-crossed', true);
                elem.setAttribute('style', 'text-decoration: line-through');
                scorePoint();
            } else {
                elem.setAttribute('data-crossed', false);
                elem.setAttribute('style', '');
                retractPoint();
            }
        }

        const getWordElement = word => {
            return `
                <a class="word" onclick="wordCorrect(this);">
                    <h2>${word}</h2>
                </a>
                `
        }

        const betweenRoundsHTML = team => {
            return `
            <br>
            <h3>
                it is ${team}'s turn!
            </h3>
            <br>
            <button onclick="startRound()">start</button>
            `
        }

        const scoreBoardHTML = () => {
            return `
            <br>
            <h3>current standings:</h3>
            <br>
            <h4 id="scoreTeam1">${getGame().state.scores.teamOne}</h4>
            <h4 id="scoreTeam2">${getGame().state.scores.teamTwo}</h4>
            <br>
            `
        }

        const startRound = () => {
            document.querySelector('.betweenRounds').hidden = true;
            document.querySelector('.duringRounds').hidden = false;
            startTurn(1);
            startCounter();
        }
        
        const endRoute = () => {

        }

        const startCounter = () => {
            let timePerRound = parseInt(getGame().settings.timePerRound);
            let endTime = new Date().getTime() + timePerRound*1000;
            let interval = setInterval(() => {
                if (endTime >= new Date().getTime()) {
                    clearInterval(interval);
                    endRound();
                } else {
                    timePerRound--;
                    document.querySelector('#timeLeft').innerHTML = timePerRound;
                }
            }, 1000);
        }
    </script>
    <div class="betweenRounds"></div>
    <div class="duringRounds">
        <div class="timer">
            <h1>
                <center>
                    <span id="timeLeft">32</span>
                     seconds left
                </center>
            </h1>
        </div>
        <div class="words">
            <center>
                <a class="word" onclick="wordCorrect(this);">
                    <h2>Word</h2>
                </a>
                <a class="word" onclick="wordCorrect(this);">
                    <h2>Word</h2>
                </a>
                <a class="word" onclick="wordCorrect(this);">
                    <h2>Word</h2>
                </a>
                <a class="word" onclick="wordCorrect(this);">
                    <h2>Word</h2>
                </a>
                <a class="word" onclick="wordCorrect(this);">
                    <h2>Word</h2>
                </a>
            </center>
        </div>
    </div>
</div>