<div class="pregameDynamic">

    <div class="join">
        <!-- <div class="gamecode"></div> -->
        <!-- <br> -->
        <h3>fill in the teams to begin</h3>
        <label>
            teamname 1: 
            <input type="text" id="teamname1">
        </label>
        <label>
            teamname 2:
            <input type="text" id="teamname2">
        </label>
        <button onclick="submitTeamname()">submit teamname</button>
        <table>
            <thead>
                <tr>
                    <th id="nameTeam1">team 1</th>
                    <th id="nameTeam2">team 2</th>
                </tr>
            </thead>
            <tbody id="players">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button onclick="savePlayersAndStart()">submit players and start game</button>
    </div>

    <script>        
        function settings() {
            document.querySelector('.settings').hidden = false;
            document.querySelector('.pregame').hidden = true;
        }

        let teamname1 = document.querySelector('#teamname1');
        let teamname2 = document.querySelector('#teamname2');

        const submitTeamname = () => {
            if (teamname1.value !== '') {
                updateSettings('teamname1', teamname1.value);
                document.querySelector('#nameTeam1').innerText = teamname1.value;
            }
            if (teamname2.value !== '') {
                updateSettings('teamname2', teamname2.value);
                document.querySelector('#nameTeam2').innerText = teamname2.value;
            }
        }

        const startGame = () => sendStartGameSignal();

        const savePlayersAndStart = () => {
            [...Array(parseInt(getGame().settings.amountOfPlayersPerTeam)).keys()].some(row => {
                let team1 = document.getElementById(`team1player#${row}`);
                let team2 = document.getElementById(`team2player#${row}`);
                if (team1.value === '' || team2.value === '') {
                    alert('please fill in all playernames');
                    updateSettings('team clear', '');
                    return true;
                }
                updateSettings('team 1', team1.value);
                updateSettings('team 2', team2.value);
            })
            startGame(1);
        }

        const generatePlayerlist = amount => {
            let html = '';
            [...Array(amount).keys()].forEach(key => {
                html += `
                <tr>
                    <td><input type="text" id="team1player#${key}"></td>
                    <td><input type="text" id="team2player#${key}"></td>
                </tr>
                `
            })
            document.querySelector('#players').innerHTML = html;
        }

        // let gamecodeDiv = document.querySelector('.gamecode');
        // let gamecode = localStorage.getItem('gamecode');
        // gamecodeDiv.innerHTML = `<h3>join at games.nierot.com/${localStorage.getItem('gamecode') }</h3>`;
        
        // let $gc = $('.gamecode');
        // let $tc = $('#twoClient');
        // let $sc = $('#spectatorCheck');

        // const submitTeamname = () => {
        //     fetch(`${loc}/settings`)
        // }

        // $('input[name=amountOfClients]').change(() => {
        //     if ($tc.is(':checked')) {
        //         gamecodeDiv.innerHTML = `<h3>join at games.nierot.com/${localStorage.getItem('gamecode') }</h3>`;
        //         $gc.show();
        //     } else if (!$sc.is(':checked')) {
        //         $gc.hide();
        //     }
        // });

        // $sc.change(() => {
        //     if ($sc.is(':checked')) {
        //         gamecodeDiv.innerHTML = `<h3>join at games.nierot.com/${localStorage.getItem('gamecode') }</h3>`;
        //         $gc.show();
        //     } else if (!$tc.is(':checked')) {
        //         $gc.hide();
        //     }
        // })
    </script>
</div>