<div class="pregameDynamic">

    <div class="join">
        <!-- <div class="gamecode"></div> -->
        <!-- <br> -->
        <label>
            teamname: 
            <input type="text" id="teamname">
            <button onclick="submitTeamname()">submit</button>
        </label>
        <table>
            <thead>
                <tr>
                    <th id="nameTeam1">team 1</th>
                    <th id="nameTeam2">team 2</th>
                </tr>
            </thead>
            <tbody id="players">
                <tr>
                    <td>niels</td>
                    <td>oof</td>
                </tr>
                <tr>
                    <td>niels</td>
                    <td>oof</td>
                </tr>
                <tr>
                    <td>niels</td>
                    <td>oof</td>
                </tr>
            </tbody>
        </table>
        <!-- This teams names -->
    
        <!-- Current players -->
        <br>
        <!-- <button onclick="javascript:settings()">settings</button> -->
    </div>

    <script>        
        function settings() {
            document.querySelector('.settings').hidden = false;
            document.querySelector('.pregame').hidden = true;
        }

        // let gamecodeDiv = document.querySelector('.gamecode');
        // let gamecode = localStorage.getItem('gamecode');
        // gamecodeDiv.innerHTML = `<h3>join at games.nierot.com/${localStorage.getItem('gamecode') }</h3>`;
        
        // let $gc = $('.gamecode');
        // let $tc = $('#twoClient');
        // let $sc = $('#spectatorCheck');

        // const submitTeamname = () => {
        //     fetch(`${loc}/settings`)
        // }

        // $('input[name=amountOfClients]').change(() => {
        //     if ($tc.is(':checked')) {
        //         gamecodeDiv.innerHTML = `<h3>join at games.nierot.com/${localStorage.getItem('gamecode') }</h3>`;
        //         $gc.show();
        //     } else if (!$sc.is(':checked')) {
        //         $gc.hide();
        //     }
        // });

        // $sc.change(() => {
        //     if ($sc.is(':checked')) {
        //         gamecodeDiv.innerHTML = `<h3>join at games.nierot.com/${localStorage.getItem('gamecode') }</h3>`;
        //         $gc.show();
        //     } else if (!$tc.is(':checked')) {
        //         $gc.hide();
        //     }
        // })
    </script>
</div>