<div class="settingsDynamic">
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }


        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .3s;
            transition: .3s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .3s;
            transition: .3s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

    </style>

    <script>
        function pregame() {
            $('.settings').hide();
            $('.pregame').show();
        }

        const amountOfRoundsOnInput = () => updateSettings('rounds', document.getElementById('amountOfRounds').value);
        const amountOfWordsOnInput = () => updateSettings('words', document.getElementById('amountOfWords').value);
        const amountOfTimeOnInput = () => updateSettings('time', document.getElementById('timePerRound').value);
        const setSinglePhone = () => updateSettings('phones', false);
        const setDualPhone = () => updateSettings('phones', true);
        const setSpectators = () => updateSettings('spectators', document.getElementById('spectatorCheck').checked);

    </script>

    <h1>settings</h1>
    <div class="container">
        <br>
        <label>
            switch theme:
            <button onclick="javascript:switchStyle();">switch</button>
        </label>
        <br>
        <!-- <label class="switch">
            <input type="checkbox" onclick="javascript:switchStyle();" checked>
            <span class="slider round"></span>
        </label> -->
        <label>
            amount of rounds:
            <input type="number" id="amountOfRounds" value=8 min=1 max=20 oninput="amountOfRoundsOnInput()">
            <small>1..20</small>
        </label>
        <label>
            amount of words:
            <input type="number" id="amountOfWords" value=5 min=1 max=8 oninput="amountOfWordsOnInput()">
            <small>1..8</small>
        </label>
        <label>
            time per round:
            <input type="number" id="timePerRound" value=32 min=10 max=60 oninput="amountOfTimeOnInput()">
            <small>10..60</small>
        </label>
        <br>
        <label>
            amount of phones:
            1 <input type="radio" id="oneClient" name="amountOfClients" onclick="setSinglePhone()" checked>
            2 <input type="radio" id="twoClient" name="amountOfClients" onclick="setDualPhone()">
            <p><small>everyone uses one phone or one phone per team</small></p>
        </label>
        <label>
            allow spectators:
            <input type="checkbox" id="spectatorCheck" onclick="setSpectators()" checked>
            <p><small>a spectator can see the score when a match is in progress</small></p>
        </label>
        <br>
        <label>
            <button onclick="javascript:pregame()">to lobby</button>
        </label>
    </div>
</div>