body {
  background: rgb(130,70,214);
  background: linear-gradient(90deg, rgba(130,70,214,1) 2%, rgba(17,68,166,1) 100%);
  color: white;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}